{% extends 'base.html' %}
{% load static %}
{% block content %}

  <!-- BEGIN LOGIN -->
  <div id="login">

    <!-- BEGIN FORGOT PASSWORD FORM -->
    <form method="POST" class="form-vertical no-padding no-margin" id="forgotform">
      <p class="center">Enter your e-mail address below to reset your password.</p>
      <div class="control-group">
        <div class="controls">
          <div class="input-prepend">
            <span class="add-on"><i class="icon-envelope"></i></span>
              <input id="input-email" type="email" placeholder="Email" name="email" required/>
          </div>
        </div>
        <div class="space20"></div>
      </div>
        {% csrf_token %}
      <input type="submit" class="btn btn-block login-btn" value="Submit" />
    </form>
    <!-- END FORGOT PASSWORD FORM -->

  </div>
  <!-- END LOGIN -->
 {% endblock %}