{% extends 'base.html' %}
{% block title %}Change password{% endblock %}
{% block content %}

    <div id="login">

    <!-- BEGIN FORGOT PASSWORD FORM -->
    {% if validlink %}
    <form method="POST" class="form-vertical no-padding no-margin" id="forgotform">

      <p class="center">Enter enter new password below to reset your password.</p>
        {% for field in form %}
            <div class="control-group">
            <div class="controls">
                 {{ field.label_tag }}
                {{ field }}
                {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
            </div>

                <div class="space20"></div>
            </div>

        {% endfor %}

      {% csrf_token %}
      <button type="submit" class="btn btn-block login-btn">Submit</button>
    </form>
    {% else %}
      <p class="center">The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.</p>
    {% endif %}
{% endblock %}

