{% extends 'dashboard/base.html' %}
{% load static %}
{% load custom_tags %}
{% block content %}

    <!-- BEGIN PAGE -->
		<div id="main-content">
			<!-- BEGIN PAGE CONTAINER-->
			<div class="container-fluid">

				<!-- BEGIN PAGE CONTENT-->
				<div id="page" class="dashboard">
                    <!-- BEGIN PAGE HEADER-->
				<div class="row-fluid">
					<div class="span12">
						<!-- BEGIN THEME CUSTOMIZER-->
						<div id="theme-change" class="hidden-phone">
							<i class="icon-cogs"></i>
							<span class="settings">
                                <span class="text">Theme:</span>
                                <span class="colors">
                                    <span class="color-default" data-style="default"></span>
                                    <span class="color-gray" data-style="gray"></span>
                                    <span class="color-purple" data-style="purple"></span>
                                    <span class="color-navy-blue" data-style="navy-blue"></span>
                                </span>
							</span>
						</div>
						<!-- END THEME CUSTOMIZER-->
						<!-- BEGIN PAGE TITLE & BREADCRUMB-->
						<h3 class="page-title">
							Event
							<small>  </small>
						</h3>
						<ul class="breadcrumb">
							<li>
                                <a href="{% url "dashboard:events" %}"><i class="icon-home"></i></a><span class="divider">&nbsp;</span>
							</li>
                            <li>
                                <a href="{% url "dashboard:events" %}">Event</a> <span class="divider">&nbsp;</span>
                            </li>
							<li><a href="#">Event Categories</a><span class="divider-last">&nbsp;</span></li>
                            {% if user.role.role_name == "trainer" or user.role.role_name == "admin" %}
                            <li class="pull-right search-wrap">
                               <div>
                                    <a href="/dashboard/event/add/category" class="btn btn-primary"><i class="icon-plus"></i> Add Event Category</a>
                               </div>
                            </li>
                            {% endif %}
						</ul>
						<!-- END PAGE TITLE & BREADCRUMB-->
					</div>
				</div>
				<!-- END PAGE HEADER-->
                {% if event_categories %}
                    {% for category in event_categories %}
                 <div class="row-fluid">
                        <div class="span12">
                            <!-- BEGIN GRID SAMPLE PORTLET-->
                            <div class="widget">
                                <div class="widget-title">
                                    <h4 class="event-category-heading">{{ category.category_name }}</h4>
                                     {% if user.role.role_name == "trainer" or user.role.role_name == "admin" %}
                                        <span class="tools">
                                        <a href="{% url 'dashboard:edit_event_category' category.id %}" class="icon-edit"></a>
                                        <a href="{{ "#myModal"|addstr:category.id }}" data-toggle="modal" class="icon-trash"></a>
                                        </span>
                                    {% endif %}
                                </div>
                                <div class="widget-body">
                                    <div class="row-fluid blog">
                                <div class="span4">
                                    <img src="{% static "img/"|add:category.category_image_url %}" alt="">
                                </div>
                                <div class="span8">
                                    <div class="space20"></div>
                                   <div class="row-fluid">
                                       <div class="span6">
                                           <h2><strong>Category Code</strong></h2>
                                       </div>
                                        <div class="span6">
                                            <span style="font-size: 22px;">585414</span>
                                       </div>
                                       <div class="space5"></div>
                                   </div>
                                    <div class="row-fluid">
                                       <div class="span6">
                                           <h2><strong>Category Priority</strong></h2>
                                       </div>
                                        <div class="span6">
                                            <span style="font-size: 22px;">{{category.category_priority}}</span>
                                       </div>
                                       <div class="space5"></div>
                                   </div>
                                    <div class="row-fluid">
                                       <div class="span6">
                                           <h2><strong>Status</strong></h2>
                                       </div>
                                        <div class="span6">
                                            <span style="font-size: 22px;">{{category.status}}</span>
                                       </div>
                                       <div class="space5"></div>
                                   </div>
                                     <div class="row-fluid">
                                       <div class="span6">
                                           <h2><strong>Created by</strong></h2>
                                       </div>
                                        <div class="span6">
                                            <span style="font-size: 22px;">{{category.created_user.email}}</span>
                                       </div>
                                       <div class="space5"></div>
                                   </div>
                                     <div class="row-fluid">
                                       <div class="span6">
                                           <h2><strong>Last updated by</strong></h2>
                                       </div>
                                        <div class="span6">
                                            <span style="font-size: 22px;">{{category.updated_user.email}}</span>
                                       </div>
                                       <div class="space5"></div>
                                   </div>
                                     <div class="row-fluid">
                                       <div class="span6">
                                           <h2><strong>Created Date</strong></h2>
                                       </div>
                                        <div class="span6">
                                            <span style="font-size: 22px;">{{category.created_date}}</span>
                                       </div>
                                       <div class="space5"></div>
                                   </div>
                                     <div class="row-fluid">
                                       <div class="span6">
                                           <h2><strong>Updated Date</strong></h2>
                                       </div>
                                        <div class="span6">
                                            <span style="font-size: 22px;">{{category.updated_date}}</span>
                                       </div>
                                         <div class="space5"></div>
                                   </div>
                                </div>
                            </div>
                                </div>
                            </div>
                            <!-- END GRID SAMPLE PORTLET-->
                        </div>
                 </div>
                         <!-- BEGIN MODAL DIALOG PORTLET-->
                          <div id="{{ "myModal"|addstr:category.id }}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    <h3 id="myModalLabel3">Confirm Deletion</h3>
                                </div>
                                <div class="modal-body">
                                    <p>Are you sure you want to delete?</p>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn" data-dismiss="modal" aria-hidden="true">No</button>
                                    <a href="{% url 'dashboard:delete_event_category' category.id %}" class="btn btn-danger">Yes</a>
                                </div>
                            </div>
                            <!-- END MODAL DIALOG PORTLET-->
                    {% endfor %}
                {% endif %}

				</div>
				<!-- END PAGE CONTENT-->
			</div>
			<!-- END PAGE CONTAINER-->
		</div>
		<!-- END PAGE -->
{% endblock %}